@import url("https://fonts.googleapis.com/css?family=Lato:100,300|Raleway:100,500|Bungee");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    font-family: "Lato", sans-serif;
    padding: 15px 0 0 0;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(14, 13, 13);
}

#loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14, 13, 13);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll-up 1.5s forwards ease 3.5s;
}

@keyframes scroll-up {
    from {
        top: 0
    }
    to {
        top: -300vh;
    }
}

.loading-span {
  font-family: "Raleway", sans-serif;
  font-size: 8em;
  letter-spacing: 10px;
  opacity: 0.7;  
}

#loading-page div {
    width: 20vw;
    height: 60vh;
    background: rgb(14, 13, 13);
    position: absolute;
    animation: slide-over forwards 2s ease;
    transform: rotate(75deg);
}

@keyframes slide-over {
    0% {
        transform: rotate(75deg) translateX(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: rotate(75deg) translateX(20vw);
        opacity: 0;
    }
}

#slide-image-container {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    margin: 0;  
}

.slide-image::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 150px black;
}

.slide-image {
    filter: contrast(115%) brightness(0.6) saturate(0);
}

#slide-image-container .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    opacity: 0;
}

#slide-image-container .slide.active {
    transition: opacity 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    opacity: 1;
}

#slide-image-container .slide-image {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    /* transform: scale(1.2); */
    background-position: center;
}

.active .slide-image {
    /* transition: transform 20s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    transform: scale(1); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    position: absolute;
    background-position: center; 
}

.slide.becoming-inactive {
    width: 100%;
    animation: slide-out 1s forwards ease-in;
    z-index: 3;
}

@keyframes slide-out {
    0% {
        opacity: 1;
        
    }
    100% {
        opacity: 0;        
    }
}

.z-index {
    z-index: 4;
}

.inactive {
    opacity: 0;
}

iframe {
    opacity: 0;
    position: absolute;
    display: none;
}

#heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba(14, 13, 13, 1);
    padding: 10px 15vw;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#song-name {
    font-weight: 300;
    font-size: 1em;
    margin: 10px 0;
    opacity: 0.8;
    text-align: right;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 7px;
    cursor: pointer;
}

#fullscreen-button {
    position: absolute;
    right: 13vw;
    bottom: -5vh;
    background: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-expand, .fa-compress {
    font-size: 2em;
    color: white;
    opacity: 0.5;
    transition: font-size 0.3s ease;
}

.fa-expand:hover {
    font-size: 2.3em;
}

.fa-compress:hover {
    font-size: 2.3em;
}

.main {
    width: 100%;
    padding: 75px 16vw 10px 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    z-index: 10;
}

#audio-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    font-weight: 100;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
    z-index: 99;
    order: 2;
    height: 30px;
    opacity: 0.7;
}

.previous {
    width: 15px;
    height: 15px;
    background-image: url(media/previous-track.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: invert(1);
    align-self: center;
    opacity: 0.7;
}

.toggle-play {
    width: 15px;
    height: 15px;
    background-size: 100%;
    cursor: pointer;
    top: 100%;
    filter: invert(1);
    align-self: center;
    opacity: 0.7;
}

.play {
    width: 15px;
    height: 15px;
    background-image: url(media/play-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.pause {
    width: 15px;
    height: 15px;
    background-image: url(media/pause-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.next {
    width: 15px;
    height: 15px;
    background-image: url(media/next-track.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: invert(1);
    align-self: center;
    opacity: 0.7;
}

.slide-container {
    width: 160px;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    align-self: center;
}

#volume {
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    width: 80%;
    align-self: center;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none;
    width: 5px;
    height: 16px;
    opacity: 1;
    border: 1px solid transparent;
    background-color: rgba(245, 245, 245, 0.774);
    cursor: pointer;
}

#volume::-moz-range-thumb {
    width: 5px;
    height: 16px;
    border: 0 solid transparent;
    background-color: rgba(245, 245, 245, 0.774);
    cursor: pointer;

}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]:focus {
    outline: none;
}

#volume::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.7;
}
#volume::-moz-range-track {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.7;
}

#volume::-moz-range-progress {
    background: rgb(59, 57, 57);
}

.volume-icon {
    width: 20px;
    height: 20px;
    background-image: url(media/volume.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    margin: 0px 2px 0 8px;
    cursor: pointer;
}

.low {
    background-image: url(media/volume-low.png);
}

.med {
    background-image: url(media/volume-med.png);
}

.high {
    background-image: url(media/volume-high.png);
    margin-right: 0px;
}

#volume-number {
    align-self: flex-end;
    margin-left: 5px;
    font-weight: 300;
}

.clock {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    width: 200px;
    z-index: 1;
    order: 1;
    height: 40px;
    text-shadow: 2px 2px 8px black;
}

#am-pm {
    font-size: 20px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    margin: 3px;
}

#hour,
#minute,
#second {
    width: 55px;
    text-align: center;
}

#hour {
    text-align: right;
    width: 35px;
}

#second {
    text-align: left;
}

.todo-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 12px;
    padding: 10px 20px;
    align-items: baseline;
    position: relative;
    z-index: 2;
    align-self: center;
    order: 3;
    margin-top: -60vh;
    background: rgba(14, 13, 13, 1);
}

#add-todo {
    width: 100%;
}

#add-todo-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    cursor: pointer;
}

button:active {
    outline-style: none;
}

button:focus {
    outline-style: none;
}

#add-todo button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
    padding: 0 10px 5px 2px;
    text-shadow: 1px 1px 8px black;
    text-align: center;
    width: 55px;
    height: 35px;
    cursor: pointer;
    overflow: visible;
    align-self: flex-start;
    display: none;
}

.fa-plus {
    font-size: 0.8em;
    overflow: visible;
}

input[type=text] {
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
    width: 100%;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: 100;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

input[type=text]:focus {
    outline-style: none;
}

#todo-label {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.884);
    transition: opacity 0.3s ease;
}

#toggle-all {
    width: 110px;
    height: 25px;
    position: absolute;
    top: -25px;
    right: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.6em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#toggle-all button {
    border: none;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    font-size: 0.6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 3px;
    transition: background-color 0.8s ease, color 0.8s ease;
}

#toggle-all button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 8px gray;
    color: black;
}

#toggle-all button:focus {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#todo-list {
    width: 100%;
    position: absolute;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    bottom: 45px;
    z-index: 10;
}

ul {
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    transition: height 0.3s ease;
}

.visibility ul {
    height: 35vh;
    transition: height 0.3s ease;
    padding: 15px 15vw 10px 15vw;  
}

.visibility #toggle-all {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.visibility #todo-label {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#todo-list::-webkit-scrollbar {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#todo-list::-webkit-scrollbar-corner {
    border-radius: 10px;
}

#todo-list::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

li {
    list-style-type: none;
    margin: 20px 5px 30px 8px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: opacity 1s ease;
}

li input[type=text] {
    border-bottom: none;
    height: 45px;
    margin-top: 10px;
    width: 75%;
    box-shadow: none;
    opacity: 1;
    transition: opacity 1s ease;
}

li div {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}

.toggle-button {
    background-color: rgba(100, 100, 100, 0);
    border: 1px solid rgba(255, 255, 255, 0.747);
    border-radius: 2px;
    margin-left: 8px;
    padding: 4px 5px;
    color: white;
    font-size: 0.85em;
    height: 35px;
    align-self: center;
    opacity: 0.55;
    font-weight: 100;
}

.delete-button {
    border: none;
    background-color: rgba(100, 100, 100, 0);
    width: 40px;
    font-size: 1.3em;
    position: relative;
    align-self: center;
    opacity: 0.35;
    color:  rgba(255, 255, 255, 0.788);
}

footer {
    width: 100%;
    font-size: 1.2em;
    padding: 10px auto;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: rgba(14, 13, 13, 1);
    z-index: 10;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#debdevelops-link {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.678);
}

#github-link {
    color: rgba(255, 255, 255, 0.678);
    font-size: 1.5em;
}

i {
    margin-left: 5px;
}

.fade {
    opacity: 0.2;
}

.hidden {
    display: none;
}

/* slide-image webp accomodations */

.webp #slide-1 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928511/Syzygy/webp/background-img-1-min.webp')
}

.webp #slide-2 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-2-min.webp')
}

.webp #slide-3 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-3-min.webp')
}

.webp #slide-4 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928511/Syzygy/webp/background-img-4-min.webp')
}

.webp #slide-5 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928511/Syzygy/webp/background-img-5-min.webp')
}

.webp #slide-6 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928511/Syzygy/webp/background-img-6-min.webp')
}

.webp #slide-7 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-7-min.webp')
}

.webp #slide-8 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-8-min.webp')
}

.webp #slide-9 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928514/Syzygy/webp/background-img-9-min.webp')
}

.webp #slide-10 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-10-min.webp')
}

.webp #slide-11 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928512/Syzygy/webp/background-img-11-min.webp')
}

.webp #slide-12 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928514/Syzygy/webp/background-img-12-min.webp')
}

.webp #slide-13 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928514/Syzygy/webp/background-img-13-min.webp')
}

.webp #slide-14 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928514/Syzygy/webp/background-img-14-min.webp')
}

.webp #slide-15 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928513/Syzygy/webp/background-img-15-min.webp')
}

.webp #slide-16 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558928513/Syzygy/webp/background-img-16-min.webp')
}

/* no-webp accomodations */

.no-webp #slide-1 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999029/Syzygy/jpg/background-img-1-min.jpg');
}

.no-webp #slide-2 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999031/Syzygy/jpg/background-img-2-min.jpg');
}

.no-webp #slide-3 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999031/Syzygy/jpg/background-img-3-min.jpg')
}

.no-webp #slide-4 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999030/Syzygy/jpg/background-img-4-min.jpg')
}

.no-webp #slide-5 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999030/Syzygy/jpg/background-img-5-min.jpg')
}

.no-webp #slide-6 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999030/Syzygy/jpg/background-img-6-min.jpg')
}

.no-webp #slide-7 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999030/Syzygy/jpg/background-img-7-min.jpg')
}

.no-webp #slide-8 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999031/Syzygy/jpg/background-img-8-min.jpg')
}

.no-webp #slide-9 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-9-min.jpg')
}

.no-webp #slide-10 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999031/Syzygy/jpg/background-img-10-min.jpg')
}

.no-webp #slide-11 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999031/Syzygy/jpg/background-img-11-min.jpg')
}

.no-webp #slide-12 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-12-min.jpg')
}

.no-webp #slide-13 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-13-min.jpg')
}

.no-webp #slide-14 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-14-min.jpg')
}

.no-webp #slide-15 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-15-min.jpg')
}

.no-webp #slide-16 .slide-image {
    background-image: url('https://res.cloudinary.com/debdev/image/upload/v1558999032/Syzygy/jpg/background-img-16-min.jpg')
}

/* Smaller display media queries */

@media (max-width: 850px) {

    .clock {
        display: none;
    }

    #fullscreen-button {
        display: none;
    }

    body {
        overflow-y: scroll;
        scrollbar-color: transparent transparent;
        scrollbar-width: none;
        min-width: 350px;
    }

    body::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        appearance: none;
        width: 2px;
        height: 16px;
        opacity: 1;
        border: 1px solid transparent;
        background-color: rgba(245, 245, 245, 0.774);
        cursor: pointer;
    }
    
    @keyframes scroll-up {
        from {
            top: 0
        }
        to {
            top: -300vh;
        }
    }

    .loading-span {
        font-size: 3em;
        letter-spacing: 7px;
      }
      
      #loading-page div {
          animation: slide-over forwards 1.4s ease;
      } 
       
      @keyframes slide-over {
          0% {
              transform: rotate(75deg) translateX(0);
          }
          90% {
              opacity: 1;
          }
          100% {
              transform: rotate(75deg) translateX(22vw);
              opacity: 0;
          }
      }

    .slide-image::after {
        content: '';
        background: rgba(0, 0, 0, 0.45);
        box-shadow: inset 0 0 15px black;
    }

    .main {
        padding: 75px 0 10px 0;
        justify-content: center;
        align-items: center;
    }

    #heading   {
        height: 70px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 10px 0;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    }

    .title {
        font-size: 1.2em;
        margin-top: 15px;
        text-align: center;
    }

    #song-name {
        font-size: 0.9em;
        margin-top: -1px;
    }
    
    .slide-container {
        display: none;
    }

    .todo-bar {
        margin-top: -25vh;
        width: 95%;
    }

    input[type=text] {
        font-size: 1em;
    }

    #audio-controls {
        width: 100%;
        justify-content: space-evenly;
        height: 45px;
        background: rgb(14, 13, 13);
        position: absolute;
        bottom: 0;
        opacity: 1;
        margin-top: 30px;
    }

    #audio-controls div {
        width: 20px;
        height: 20px;
        opacity: 0.4;
    }

    footer {
        bottom: -45px;
        background: rgb(14, 13, 13);
    }

    #toggle-all {
        right: 3vw;
        width: 85px;
        font-size: 1.2em;
    }

    #toggle-all button:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    #toggle-all button:focus {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .visibility ul {
        padding: 15px 5vw 10px 2vw;  
    }

    li {
        font-size: 17px;
        margin: 5px 5px 10px 8px;
        height: 40px;
    }

    .toggle-button {
        height: 30px;
        margin-top: -5px;
    }

    .delete-button {
        margin-top: -5px;
    }
}

@media (max-width: 850px) and (max-height: 400px) {
    .clock {
        display: none;
    }

    #heading   {
        height: 50px;
        padding: 0;
    }

    .title, #song-name {
        margin: 0;
    }

    .visibility ul {
        height: 25vh;  
    }

    .todo-bar {
        margin-top: -30vh;
    }
}

@media screen and (max-height: 500px) {
    .visibility ul {
        height: 20vh;  
    }
}

@media screen and (max-height: 500px) {

    .todo-bar {
        margin: 0;
        margin-top: -60px;
        top: 150px;
        position: absolute;
        left: 50%;
        /* padding: 0 15vw; */
        margin-left: calc(-95% / 2);
    }
}

@media screen and (max-height: 900px) and (min-width: 890px) {
    
    #loading-page div {
        width: 20vw;
        height: 180vh; 
        background: rgb(14, 13, 13);
        position: absolute;
        animation: slide-over forwards 2s ease;
        transform: rotate(75deg);
    }
    
    @keyframes slide-over {
        0% {
            transform: rotate(75deg) translateX(0);
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: rotate(75deg) translateX(40vw);
            opacity: 0;
        }
    }

}